
body{
  background: #24353f;
  font-family: 'Titillium Web', sans-serif;

}
.group {
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color:white;
  background-color: #24353f;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}