#geras{
    color: white;
}
.section{
    position: relative;
    
    
    }
    .section h1 {

        color: #000000;
    }
    .form-control{
        background-color: #24353f;
        border: 5px solid white;
    }
    .container{
        background: #24353f;
        font-size: 20px;
        
        font-family:cursive;
    
        position: relative;

    top: 50px;
    box-shadow: 5px 2px 54px 5px rgb(0 0 0);
    }
    .gear{
    
        position: relative;
        top:70px;
    }
    
    
    body{
        background: #24353f;
    font-family: 'Titillium Web', sans-serif;
        background-position: center;
        background-repeat: no-repeat;
      
        background-size: auto;
     
    
        font-size: 20px;
        font-weight: 900;
    
        font-style: initial;
        font-family:cursive;
    }

   